body {
    background-color: aqua;
    background-image: url("C:/Users/karth/Desktop/CSS Tutorial/CSS-Tutorial/images/Screenshot (54).png");
}

h1 {
    text-align: center;
    color: rgb(5, 44, 123);
    background-image: url("Screenshot\ \(53\).png");
}