body {
    background-color: aqua;
    background-image: url("Screenshot (54).png");
    background-repeat: repeat-x;
    background-position: top;
    background-attachment: fixed;
    background-size: 100%;
    /*background property can also use "
     background="black no-repeat 100% scrolled;
     " */
}

h1 {
    text-align: center;
    color: rgb(5, 44, 123);
    background-image: url("Screenshot\ \(53\).png");
}